<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>박스오피스</title>
    <style type="text/css">
   		img{
			width: 200px;
			height: 300px;
		}
	</style>
</head>
<body>

	<div id="wrap">
				

	</div>
	<script type="text/template" id="wrapTemplate">
		<% for( var i = 0 ; i< list.length; i++){ %>
		<div class="title"><%= list[i].titleKo %></div>
		<div class="photo" ><img src="<%= list[i].photo.fullname%>"></div>
		<div class="expectPointAvg"><%= list[i].moviePoint.expectPointAvg%></div>
		<%}%>
		<br>		
	</script>
	<script src="js.js"></script>
	<script>
		var url = "http://m.movie.daum.net/data/movie/movie_info/box_office.json?country=KR&startDate=20150101&endDate=20150401&pageSize=10&pageNo=";

		getJSON(url, function (Data) {
			var template = document.getElementById('wrapTemplate').innerHTML;
			var wrap = document.getElementById('wrap');
			movieHTML = tmpl(template, {list : Data.data});
			wrap.innerHTML = movieHTML;
			// for (var i = 0; i < Data.data.length; i++) {
			// 	var str = template;
				
			// 	str = str.replace("{title}", Data.data[i].titleKo);
			// 	str = str.replace("{photo}", Data.data[i].photo.fullname);
			// 	str = str.replace("{point}", Data.data[i].moviePoint.expectPointAvg);

			// 	wrap.innerHTML += str;	

			// }			
					});
 	</script>
</body>
</html>